DB_NAME=recrutiodb17
DB_USER=admin
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5433

# Django settings
DEBUG=True

# OPENAI - Add your OpenAI API key here
OPENAI_API_KEY=your_openai_api_key_here
TIMESCALE_SERVICE_URL=postgresql://admin:password@localhost:5433/recrutiodb17
